################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Start/Start/bin/Debug
/Start/Start/.vs/Start/v14
/Start/Start/obj/Debug
